 <style>
  .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: #fff;
            background-color: #4835d4;
            border: none;
            border-radius: 7px;
            cursor: pointer;
            margin-top:40%
        }
        .btn:hover {
            background-color: #9966ff;
        }
        .f{
            background-color:transparent;
        }
</style>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
